html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #171836;
    font-family: 'Inter', sans-serif;
}

:root {
    --color-text:rgba(255, 255, 255, 0.8);
    --color-text-white:#fff;
    --button-color-simple: #F5443B;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.group-header {
    margin-top: 25px;
}
.nav-list {
    margin-right: 200px;
}

.list-item {
    margin: 0 40px;
}

.af::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url("../media/img/globe.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 2px;
    position: relative;
    top: 2px;
}

.login-item {
    margin: 0 12px;
}

.list-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;    
    line-height: 17px;
    color: var(--color-text);
    transition: color 0.2s ease;
}
.list-link:hover {
    color: var(--color-text-white);
}
.home {
    color: var(--color-text-white);
}

.btn-login {
    background-color: var(--button-color-simple);
    padding: 12px 32px 12px 32px;
    border-radius: 6px;
    color: var(--color-text-white);
    border: 2px solid var(--button-color-simple);
    transition: background 0.2s ease;
}

.btn-login:hover {
    background-color: transparent;
    color: var(--button-color-simple);
}
.hero-group {
    /* margin-top: 20px; */
    margin-top: 36px;
}
.imgs-group {
    position: relative;
    left: 0;
}

.lamp {
    position: absolute;
    top: 190px;
    left: 90px;
    animation-name: lamp-dance;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes lamp-dance {
        0% {
            transform: translate(0);
        }

        50% {
            transform: translateY(-50px);
        }

        100% {
            transform: translate(0);
        }
}

.book {
    position:absolute;
    left: 610px;
    top: 80px;
    animation-name: book-dance;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes book-dance {
        0% {
            transform: translate(0);
        }

        50% {
            transform: translateY(50px);
        }

        100% {
            transform: translate(0);
        }
}
.joined {
    width: 363px;
    height: 92px;
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
    border-radius: 20px;
    position: relative;
    left: 342px;
    top: 604px;
}

.joined-img {
    display: inline-block;
    width: 52px;
    height: 52px;
    background-image: url("../media/img/blonde-girl.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    left: 20px;
    top: 20px;
}

.two-join {
    background-image: url("../media/img/smile-girl.svg");
    left: 4px;
}

.three-join {
    background-image: url("../media/img/nature-man.svg");
    left: -8px;
}

.four-join {
    background-image: url("../media/img/simple-man.svg");
    left: -19px;
}

.joined-plus {
    width: 52px;
    height: 52px;
    background: #8087B8;
    border: 1px solid #6668AA;
    border-radius: 50%;
    position: relative;
    left: -28px;
    font-size: 30px;
    cursor: pointer;
    color: #171836;
    position: relative;
    top: 20px;
}
.bx {
    margin-top: 10px;
    margin-left: 10px;
}

.joined-text {
    font-style: normal;
    font-weight: 500;   
    font-size: 14px;
    line-height: 160%;
    color: #BBBBC4;
    width: 111px;
    height: 44px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
}

.red-text {
    color: var(--button-color-simple);
}

.title-hero {
    position: absolute;
    left: 427px;
    bottom: 159px;
}
.hero-title {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--color-text-white);
    width: 984px;
    height: 219px;
}
#hero {
    background-image: url("../media/img/student-hero-section.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position:left 0;
    height: 1000px;
    overflow: hidden;
}

.hero-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
}

.inp {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    background-color: #1F2143;
    padding: 22px 261px 22px 32px;
    border: none;
    border-radius: 12px;
}

.search {
    width: 44px;
    height: 44px;
    position: relative;
    border: none;
    background: #282B57;
    font-size: 20px;
    right: 65px;
    top: -6px;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
}
.bx-search {
    position: absolute;
    bottom: 11px;
    left: 5px;
}

.buttons-one {
    position: absolute;
    bottom: -50px;
    left: 765px
}

.buttons-two {
    position: absolute;
    bottom: -110px;
    left: 762px;
}

.learn-more {
    background-color:#171836;
    border: 1px solid rgba(154, 156, 203, 0.6);;
    padding: 8px 18px 8px 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(154, 156, 203, 0.6);
    margin: 0 15px;
    border-radius: 8px;
}
#communictaion {
    height: 348px;
}

.comm-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
}

.comm-title::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url("../media/img/mentors-img1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 15px;
    right: 15px;
}
.comm-one::before {
    background-image: url("../media/img/mentors-img2.svg");
}
.comm-two::before {
    background-image: url("../media/img/mentors-img3.svg");
}
.comm-text {
    width: 311px;
    font-style: normal;
    font-weight: normal;    
    font-size: 14px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.6);
}

#wanttolearn {
    margin-top: 120px;
}
.want-item {
    width: 278px;
    height: 485px;
    background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.2) 100%);
    border-radius: 20px;
}
.want-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.want-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}
.service__list{
    padding-bottom: 200px;
    height: 505px;
    display: flex;
}
  
  .service__item{
    background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
    border-radius: 20px;
    border: 3px solid #292A55;
    padding: 9px 9px 17px 9px;
    max-width: 275px;
    transition: all 0.5s ease;
    height: 430px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
}
.servcie__item-videos-box-img {
    position: relative;
    right: 8px;
}
  .service__item:hover{
    height: 500px;
}
  
  .servcie__item-videos-link{
    display: inline-block;
    max-width: 252px;
    height: 169px;
    background: rgba(30, 32, 67, 0.3);
    position: relative;
    margin-bottom: 24px;
}
  
  .servcie__item-videos-link span{
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 6px 16px;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}
  
  .servcie__item-videos-box-img{
    border-radius: 10px;
}
  
  .service__item-pretitle{
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #3BF5BD;
}
  
  .service__item-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 12px;
}
  
  .service__item-dec{
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    padding-bottom: 20px;
    border-bottom: 1px solid #292B56;
}
  
  .service__item-mentor-block{
    display: flex;
}
  
  .mentor__avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
  
  .mentor__name{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
}
  
  .mentor__position{
    font-size: 12px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
}
  
  .mentor__info{
    margin-bottom: 28px;
}

.all-show {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F5443B;
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid #F5443B;
    border-radius: 6px;
    transition: background 0.3s ease,color 0.3s ease;
}
.show-all {
    margin-top: 121px;
}
.all-show:hover {
    background-color: var(--button-color-simple);
    color: var(--color-text-white);
}
#webinar {
    margin-top: 100px;
    height: 900px;
}

.title-webinar {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.text-webinar {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}

.webinar-img {
    margin-top: 104px;
    position: relative;
    right: 41px;
}

.youtube {
    cursor: pointer;
}
#pricing {
    margin-top: 85px;
    height: 900px;
}

.pricing-item {
    width: 350px;
    height: 515px;
    background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
    border-radius: 20px;
    margin: 0 8px;
}

.pricing-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.pricing-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}

.pricing-item-text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 44px;
    left: 122px;
}

.pricing-item-text::before {
    content: "";
    width: 56px;
    height: 56px;
    display: inline-block;
    background-image: url("../media/img/price1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: -92px;
}

.text-one::before {
    background-image: url("../media/img/price2.svg");
}

.text-two::before {
    background-image: url("../media/img/price3.svg");
}

.pricinig-item-text-red {
    color: var(--button-color-simple);
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 150%;
    display: inline-block;
    margin-left: 122px;
}

.dollor {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    font-family: var(--button-color-simple);
    position: relative;
    bottom: 10px;
}

.month {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
}

.month::after {
    content: "";
    display: block;
    width: 300px;
    border: 1.5px solid #272953;
    margin-left: 36px;
}

.priciy-items {
    margin: 16px 20px;
}

.priciy-items::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #9799CE;
    position: relative;
    left: -25px;
}

.items-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
}

.priciy-btn {
    position: relative;
    top: 122px;
    left: 25px;
    padding: 16px 75px;
    border-radius: 6px;
    background-color: var(--button-color-simple);
    border: 2px solid var(--button-color-simple);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: background 0.3s ease,color 0.3s ease;

}
.priciy-btn:hover {
    color: var(--button-color-simple);
    background-color: transparent;
}
.priciy-btn:active {
    color: #F5443B;
    border: 1px solid #F5443B;
}
.two-bnt {
    padding: 16px 75px;
    border-radius: 6px;
    background-color: var(--button-color-simple);
    border: 2px solid var(--button-color-simple);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    top: 84px;
    left: 54px;
    transition: background 0.3s ease,color 0.3s ease;
}
.two-bnt:hover {
    color: var(--button-color-simple);
    background-color: transparent;
}
.two-bnt:active {
    color: #F5443B;
    border: 1px solid #F5443B;
}
.three-btn {
    padding: 16px 75px;
    border-radius: 6px;
    background-color: var(--button-color-simple);
    border: 2px solid var(--button-color-simple);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    top: 9px;
    left: 50px;
    transition: background 0.3s ease,color 0.3s ease;
}

.three-btn:hover {
    color: var(--button-color-simple);
    background-color: transparent;
}

.three-btn:active {
    color: #F5443B;
    border: 1px solid #F5443B;
}

.pricing-category {
    margin-top: 84px;
}
#apps {
    margin-top: 80px;
    height: 594px;
}

.group-apps {
    background: linear-gradient(102.01deg, #23265C 1.96%, #352A56 101.68%);
    border-radius: 40px;
}

.apps-title {
    font-style: normal;
    font-weight: 600;
    font-size: 47.2727px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}

.apps-text {
    width: 406px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.7);
}

.apps-list {
    margin-top: 43px;
    position: relative;
    left: -46px;
}

.apps-st {
    position: relative;
    top: -10px;
}

#footer-page {
    margin-top: 50px;
}
.footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.6;
}

.social-list {
    position: absolute;
    left: 26px;
}

.social-item {
    font-size: 40px;
}

.social-link {
    color: var(--color-text);
}

.list-bar {
    margin-left: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 173px;
}

.footer-item {
    margin: 24px 0;
}

.footer-link {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.2s ease;
}
.footer-link:hover {
    color: var(--color-text-white);
}
.fot-one {
    color:#fff;
}

.fot-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8F91D0;
    position: absolute;
    bottom: -100px;
}